<nav>
  <a href='./auth/auth.hbs'>auth</a>
  <a href='./register/register.hbs'>register</a>
  <a href='./500/500.hbs'>500</a>
  <a href='./404/404.hbs'>404</a>
  <a href='./chat/chat.hbs'>chat</a>
  <a href='./profile/profile.hbs'>profile</a>
</nav>