<ul class="register-body">
  <li>
    {{> form-input/form-input id='email' name='email' type='email' label='Email' }}
  </li>
  <li>
    {{> form-input/form-input id='login' name='login' type='text' label='Login' }}
  </li>
  <li>
    {{> form-input/form-input id='first_name' name='first_name' type='text' label='Name' }}
  </li>
  <li>
    {{> form-input/form-input id='second_name' name='second_name' type='text' label='Last name' }}
  </li>
  <li>
    {{> form-input/form-input id='phone' name='phone' type='tel' label='Phone' }}
  </li>
  <li>
    {{> form-input/form-input id='password' name='password' type='password' label='Password' }}
  </li>
  <li>
    {{> form-input/form-input id='repeat_password' name='repeat_password' type='password' label='Repeat password' }}
  </li>
</ul>